{% extends 'base.html.twig' %}
{% block title %}contact{% endblock %}
{% block body %}
<!-- création du lien pour nous contacter -->
<p>Vous avez reçu un message de: {{ email }}</p>
<p>{{ msg }}</p>
{% endblock %}