{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
<!-- création du lien pour changer le mot de passe -->
<p>Votre changement de mot de passe a bien été pris en compte.</p>
<a href="{{ url('resetPassword', { "id" : user.id,"token" : user.token}) }}"></a>
{% endblock %}