{% extends 'base.html.twig' %}
{% block title %}Changement de Mot de passe | Etufit{% endblock %}
{% block stylesheets %}
    <style>
        #content {
            margin-top: 80px;
            padding: 20px;
        }
    </style>
{% endblock %}
{# content change-password #}
{% block body %}
{# Page de formulaire #}
    <div class="container">
        <div class="row">
            <div id="content" class="col s12 l8 offset-l2 card z-depth-4">
                <form id="formProfilPassword" action="{{ path('newPassword') }}" method="POST">
                    <div class="input-field">
                        <input type="password" id="profilPassword" name="profilPassword" placeholder="Votre ancien mot de passe">
                        <label for="profilPassword">Ancien mot de passe</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="newPassword" name="newPassword" placeholder="Votre nouveau mot de passe">
                        <label for="newPassword">Nouveau mot de passe</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirmez votre mot passe">
                        <label for="confirmPassword">Confirmez nouveau mot de passe</label>
                    </div>
                    <div class="input-field">
                        <input type="submit" class="btn btn-large ub-orange right btn-extend" >
                    </div>
                </form>
                <div id="view_profil_password"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script-change-ProfilPassword.js') }}"></script>
{% endblock %}
