{% extends 'base.html.twig' %}
{% block title %}Reset Mot de passe | Etufit{% endblock %}
{% block stylesheets %}
    <style>
        #content {
            margin-top: 80px;
            padding: 20px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div id="content" class="col s12 l8 offset-l2 card z-depth-4">
                <form id="formPasswordChange" action="{{ path('passwordConfirm', {'id': id }) }}" method="POST">
                    <div class="input-field">
                        <input type="password" id="newPassword" name="newPassword" placeholder="Mot de passe">
                        <label for="newPassword">Votre nouveau mot de passe</label>
                    </div>
                    <div class="input-field">
                        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Mot de passe">
                        <label for="confirmPassword">Confirmer votre nouveau mot de passe</label>
                    </div>
                    <div class="input-field right">
                        <input type="submit" class="btn btn-large ub-orange btn-extend" >
                    </div>
                </form>
                <div id="view_change"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/script-reset-Password.js') }}"></script>
{% endblock %}
